<div class="flex">
    <input type="text"
           name="search"
           class="border-r-0 rounded-l-md rounded-r-none border border-[#7A1515] bg-white px-4 py-2 text-gray-800 shadow-sm transition duration-300 ease-in-out placeholder:text-xs hover:border-[#A04747] focus:outline-none focus:ring-2 focus:ring-[#A04747]"
           placeholder="@ViewData["Placeholder"]"
           value="@ViewData["SearchValue"]" />
    <button type="submit"
            class="border-l-0 rounded-l-none rounded-r-md bg-[#7A1515] px-4 py-2 font-semibold text-white shadow-sm hover:bg-[#A04747]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="size-4">
            <path d="M416 208c0 45.9-14.9 88.3-40 122.7l126.6 126.7c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208M208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288" />
        </svg>
    </button>
</div>