@{
    ViewData["Title"] = "Invalid Access";
}

<div class="flex h-screen items-center justify-center">
    <div class="text-center">
        <h1 class="text-4xl text-red-600">Error.</h1>
        <h2 class="text-xl text-red-600">An error occurred while processing your request. You are not authorized to access that page.</h2>
    </div>
</div>
