<div id="password-section" class="tab-content hidden">
    <div class="mb-4 flex items-center justify-between">
        <h2 class="mb-4 text-2xl font-semibold">Change Password</h2>
        <div class="flex space-x-2">
            <button type="button" id="cancel-password-btn" class="hidden rounded-md bg-[#6c757d] px-3 py-2 font-medium text-white hover:bg-[#939BA2]">
                Cancel
            </button>
            <button type="button" id="save-password-btn" class="hidden rounded-md bg-[#7A1515] px-4 py-2 font-semibold text-white hover:bg-[#A53D3D]">
                Update
            </button>
        </div>
    </div>
    <form id="password-form">
        <div class="mb-4">
            <label for="oldPassword" class="mb-2 block text-gray-700">Old Password</label>
            <input type="password"
                   class="w-full rounded-md border border-gray-300 p-2 pr-10 hover:border-[#7A1515] focus:outline-none focus:ring-2 focus:ring-[#991b1b] focus:border-transparent"
                   id="oldPassword"
                   name="OldPassword" />
            <span id="old-password-validation-message" class="hidden text-sm text-red-600"></span>
        </div>
        <div class="mb-4">
            <label for="newPassword" class="mb-2 block text-gray-700">New Password</label>
            <input type="password"
                   class="w-full rounded-md border border-gray-300 p-2 pr-10 hover:border-[#7A1515] focus:outline-none focus:ring-2 focus:ring-[#991b1b] focus:border-transparent"
                   id="newPassword"
                   name="NewPassword" />
            <span id="new-password-validation-message" class="hidden text-sm text-red-600"></span>
        </div>
        <div class="mb-4">
            <label for="confirmNewPassword" class="mb-2 block text-gray-700">Confirm New Password</label>
            <input type="password"
                   class="w-full rounded-md border border-gray-300 p-2 pr-10 hover:border-[#7A1515] focus:outline-none focus:ring-2 focus:ring-[#991b1b] focus:border-transparent"
                   id="confirmNewPassword"
                   name="ConfirmNewPassword" />
            <span id="confirm-password-validation-message" class="hidden text-sm text-red-600"></span>
        </div>
    </form>
</div>