<div id="skills-resume-section" class="tab-content hidden">
    <form id="skills-resume-form">
        <div class="mb-4 flex items-center justify-between">
            <h2 class="mb-4 text-2xl font-semibold">Skills</h2>
            <div class="flex space-x-2">
                <button type="button" id="cancel-preferences-btn" class="hidden rounded-md bg-[#6c757d] px-3 py-2 font-medium text-white hover:bg-[#939BA2]">
                    Cancel
                </button>
                <button type="button" id="save-preferences-btn" class="hidden rounded-md bg-[#7A1515] px-4 py-2 font-semibold text-white hover:bg-[#A53D3D]">
                    Update
                </button>
            </div>
        </div>

        <div class="mb-4 space-y-2">
            --- Section Unavailable ---
            @*<!-- Cultural Skills -->
            <div class="flex-1">
                <label class="block text-sm font-medium text-gray-700">Cultural/Soft Skills</label>
                <input placeholder="Open Mindset, Communication, Leadership" type="text" id="createJobSkillsSInput" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" />
                <div type="hidden" id="skillsSHiddenInputs" name="SkillsS"></div>
                <span class="text-sm text-red-500" id="skillsSValidation"></span>
            </div>
            <!-- Technical Skills -->
            <div class="flex-1">
                <label class="block text-sm font-medium text-gray-700">Technical Skills</label>
                <input placeholder="C# (Programming Language), ASP.NET" type="text" id="createJobSkillsTInput" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" />
                <div type="hidden" id="skillsTHiddenInputs" name="SkillsT"></div>
                <span class="text-sm text-red-500" id="skillsTValidation"></span>
            </div>
            <!-- Certification Skills -->
            <div class="flex-1">
                <label class="block text-sm font-medium text-gray-700">Certifications</label>
                <input placeholder="Microsoft Azure Certification, CompTIA CASP+ CE" type="text" id="createJobSkillsCInput" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" />
                <div type="hidden" id="skillsCHiddenInputs" name="SkillsC"></div>
                <span class="text-sm text-red-500" id="skillsCValidation"></span>
            </div>*@
        </div>
        <hr />
        <div>--- Resume Here ---</div>
    </form>
</div>