@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    bool isAdmin = User.IsInRole("Admin") || User.IsInRole("NLO");
    bool isSuper = User.HasClaim("IsSuperAdmin", "true");
    bool isRecruiter = User.IsInRole("Recruiter");
    var userId = HttpContextAccessor.HttpContext.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    bool hasUnreadNotifications = false;
    int notificationCount = 0;
    var role = HttpContextAccessor.HttpContext.User.FindFirst(System.Security.Claims.ClaimsIdentity.DefaultRoleClaimType)?.Value;
}

<div class="bg-[#F5F7F8] @((ViewBag.LoginView == true || ViewBag.create == true) ? "hide-navbar" : "sidebar")">
    <div class="cursor-pointer">
        <img src="~/img/logo1.png"
             class="w-48"
             alt="logo"
             onclick="window.location.href = '@(isRecruiter ? Url.Action("GetAllJobsRecruiter", "Job") : Url.Action("Dashboard", "Home"))';">
    </div>
    <div class="mb-2 mt-5 bg-[#F5F7F8] font-semibold text-gray-700">Navigation</div>
    <ul class="flex-grow list-none text-[#7A1515]">
        @if (isAdmin || isSuper)
        {
            <li class="bg-[#F5F7F8] py-2">
                <a asp-action="Dashboard" asp-controller="Home"
                   class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                    <i class="fa fa-area-chart mr-2"></i>
                    Dashboard
                </a>

            </li>
        }
        @if (isSuper)
        {
            <li class="bg-[#F5F7F8] py-2">
                <a asp-action="GetAllUsers" asp-controller="User"
                   class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                    <i class="fa fa-users mr-2"></i>
                    Users
                </a>
            </li>
        }
        @if (isAdmin && !isSuper)
        {
            <li class="bg-[#F5F7F8] py-2">
                <a asp-action="GetAllCompanies" asp-controller="Company"
                   class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                    <i class="fa fa-building mr-2"></i>
                    Companies
                </a>
            </li>
            <li class="bg-[#F5F7F8] py-2">
                <a asp-action="GetAllJobsAdmin" asp-controller="Job"
                   class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                    <i class="fa fa-suitcase mr-2"></i>
                    Jobs
                </a>
            </li>
            <li class="bg-[#F5F7F8] py-2">
                <a asp-action="" asp-controller=""
                   class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                    <i class="fa fa-check-circle-o mr-2"></i>
                    Applications
                </a>
            </li>
        }
        @if (isRecruiter)
        {
                <li class="bg-[#F5F7F8] py-2">
                <a asp-action="GetCompanyRecruiter" asp-controller="Company"
           class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
            <i class="fa fa-building mr-2"></i>
            Company
        </a>
    </li>
            <li class="bg-[#F5F7F8] py-2">
                <a asp-action="GetAllJobsRecruiter" asp-controller="Job"
                   class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                    <i class="fa fa-suitcase mr-2"></i>
                    Jobs
                </a>
            </li>
            <li class="bg-[#F5F7F8] py-2">
                <a asp-action="" asp-controller=""
                   class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                    <i class="fa fa-check-circle-o mr-2"></i>
                    Applications
                </a>
            </li>
        }
        <li>
            <hr class="my-2 border-gray-300" />
        </li>
        @if (!isAdmin)
        {
            <li class="bg-[#F5F7F8] py-2">
                <a asp-action="" asp-controller=""
                   class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                    <i class="fa fa-cog mr-2"></i> Settings
                </a>
            </li>
        }
        <li class="bg-[#F5F7F8] py-2">
            <a href="#" data-toggle="modal" data-target="#logoutModal"
               class="flex items-center rounded px-2 py-1 text-[#7A1515] transition duration-200 hover:text-[#991b1b] hover:bg-gray-200">
                <i class="fa fa-sign-out mr-2"></i>
                Log out
            </a>
        </li>
    </ul>
    <div class="mt-4 flex items-center rounded bg-gray-100 p-4 text-[#7A1515]">
        <i class="fa fa-user-circle mr-3 text-4xl text-[#7A1515]"></i>
        <div>
            <span>@HttpContextAccessor.HttpContext.User.Identity.Name</span>
            <div class="text-sm text-gray-500">
                @if (isSuper)
                {
                    <text>(Super Admin)</text>
                }
                else
                {
                    <text>(@role)</text>
                }
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var links = document.querySelectorAll('.sidebar li a');
        links.forEach(function (link) {
            link.addEventListener('click', function () {
                links.forEach(function (link) {
                    link.classList.remove('bg-gray-200');
                });
                this.classList.add('bg-gray-200');
            });
        });
    });
</script>
