@model Services.ServiceModels.AccountServiceModel
@using System.Diagnostics;

<div class="modal fade" id="registerUserModal" tabindex="-1" role="dialog" aria-labelledby="registerUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-2">
            <!-- Modal Header -->
            <div class="modal-header border-0">
                <h5 class="modal-title text-2xl font-bold text-[#7A1515]" id="registerUserModalLabel">Create Account</h5>
                <button type="button" class="close text-gray-500 hover:text-gray-700" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="registerUserForm" method="post" action="/Account/Register">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="mb-4" style="display:none;">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" />
                    </div>

                    <div class="mb-4">
                        <label class="mb-1 block font-semibold text-[#343131]" for="email">Email Address <span class="text-[#A04747]">*</span></label>
                        <input type="text" id="email" asp-for="Email" placeholder="juan.cruz@cit.edu"
                               class="w-full rounded-md border border-gray-300 p-2 hover:border-[#A04747] focus:outline-none focus:ring-2 focus:ring-[#A04747]" />
                        <span asp-validation-for="Email" class="mt-1 block text-sm text-red-500"></span>
                    </div>

                    <div class="mb-4 flex space-x-4">
                        <div class="w-1/2">
                            <label class="mb-1 block font-semibold text-[#343131]" for="firstName">First Name <span class="text-[#A04747]">*</span></label>
                            <input type="text" id="firstName" asp-for="FirstName" placeholder="Juan"
                                   class="w-full rounded-md border border-gray-300 p-2 hover:border-[#991b1b] focus:outline-none focus:ring-2 focus:ring-[#991b1b]" />
                            <span asp-validation-for="FirstName" class="mt-1 block text-sm text-red-500"></span>
                        </div>
                        <div class="w-1/2">
                            <label class="mb-1 block font-semibold text-[#343131]" for="middleName">Middle Name</label>
                            <input type="text" id="middleName" asp-for="MiddleName" placeholder="Martinez"
                                   class="w-full rounded-md border border-gray-300 p-2 hover:border-[#991b1b] focus:outline-none focus:ring-2 focus:ring-[#991b1b]" />
                            <span asp-validation-for="MiddleName" class="mt-1 block text-sm text-red-500"></span>
                        </div>
                    </div>

                    <div class="mb-4 flex space-x-4">
                        <div class="w-1/2">
                            <label class="mb-1 block font-semibold text-[#343131]" for="lastName">Last Name <span class="text-[#A04747]">*</span></label>
                            <input type="text" id="lastName" asp-for="LastName" placeholder="Cruz"
                                   class="w-full rounded-md border border-gray-300 p-2 hover:border-[#991b1b] focus:outline-none focus:ring-2 focus:ring-[#991b1b]" />
                            <span asp-validation-for="LastName" class="mt-1 block text-sm text-red-500"></span>
                        </div>
                        <div class="w-1/2">
                            <label class="mb-1 block font-semibold text-[#343131]" for="suffix">Suffix</label>
                            <input type="text" id="suffix" asp-for="Suffix" placeholder="Jr., Sr., III..."
                                   class="w-full rounded-md border border-gray-300 p-2 hover:border-[#991b1b] focus:outline-none focus:ring-2 focus:ring-[#991b1b]" />
                            <span asp-validation-for="Suffix" class="mt-1 block text-sm text-red-500"></span>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="mb-1 block font-semibold text-[#343131]" for="password">Password <span class="text-[#A04747]">*</span></label>
                        <input type="password" id="password" asp-for="Password" placeholder="******"
                               class="w-full rounded-md border border-gray-300 p-2 hover:border-[#991b1b] focus:outline-none focus:ring-2 focus:ring-[#991b1b]" />
                        <span asp-validation-for="Password" class="mt-1 block text-sm text-red-500"></span>
                    </div>
                    <div class="mb-4">
                        <label class="mb-1 block font-semibold text-[#343131]" for="confirmpassword">Confirm Password <span class="text-[#A04747]">*</span></label>
                        <input type="password" id="confirmpassword" asp-for="ConfirmPassword" placeholder="******"
                               class="w-full rounded-md border border-gray-300 p-2 hover:border-[#991b1b] focus:outline-none focus:ring-2 focus:ring-[#991b1b]" />
                        <span asp-validation-for="ConfirmPassword" class="mt-1 block text-sm text-red-500"></span>
                    </div>
                </div>

                <div class="modal-footer border-0 flex w-full items-center justify-between">
                    <div class="flex w-full items-center text-sm italic">
                        Contact <a href="mailto:nlo@cit.edu" class="px-1 font-medium text-[#7A1515] hover:!no-underline hover:text-[#A04747]">nlo@cit.edu</a> to become a recruiter.
                    </div>

                    <button type="submit" id="registerButton" disabled
                            class="min-w-[128px] whitespace-nowrap rounded-md bg-[#7A1515] px-4 py-2 font-semibold text-white hover:bg-[#A04747] disabled:bg-gray-400 disabled:cursor-not-allowed">
                        Sign Up
                    </button>
                </div>

                <input type="hidden" name="FormLoadTime" value="@Stopwatch.GetTimestamp()" />
            </form>
        </div>
    </div>
</div>
