@model LoginViewModel
@using static Resources.Views.Screen
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Forgot Password";
}
<div>
    @Html.AntiForgeryToken()
</div>
<div class="flex min-h-screen items-center justify-center bg-gray-100">
    <div class="w-5/12 max-w-full px-4">
        <div class="rounded-lg bg-white text-gray-700 shadow-lg">
            <div class="mx-4 p-5 md:p-6 md:mx-6">
                <!-- Header Section: Back Arrow and Title Side by Side -->
                <div class="mb-4 flex items-center">
                    <a asp-action="Login" class="mr-3 text-black">
                        <i class="fa-solid fa-arrow-left text-2xl"></i>
                    </a>
                    <h4 class="text-xl font-medium">Reset Your Password</h4>
                </div>
                
                <!-- Password Reset Form -->
                <form method="post" asp-action="PostForgotPassword" id="loginForm" class="mt-4">
                    <div class="mb-4">
                        <label class="block font-medium text-gray-700" for="form2Example11">Email Address</label>
                        <input 
                            type="email" 
                            id="form2Example11" 
                            class="mt-1 w-full rounded-md border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
                            asp-for="Email" 
                            placeholder="Input your Email Address" 
                            required />
                        <span asp-validation-for="Email" class="text-sm text-red-500"></span>
                    </div>
                    <div class="flex flex-col items-center py-1 text-center">
                        <button class="mt-2 flex w-full items-center justify-center rounded bg-[#7A1515] px-4 py-2 font-semibold text-white hover:bg-[#7A1515]">
                            Send Request
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/toastrNotification.js"></script>
}
