<div class="modal fade" id="resetPasswordModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="resetPasswordModalLabel">
                    <i class="fa fa-exclamation-triangle px-1" style="color: var(--danger-color);"></i>
                    Confirm Reset Password
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body py-1 pl-4" id="resetPasswordModalMessage">
                Are you sure you want to reset this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmResetBtn">Reset</button>
            </div>
        </div>
    </div>
</div>